<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<add name ="TrainingMontageScan"
			 connectionString="Data Source=WIN11\MSSQLMONTAGESERV;Initial Catalog=MontageScan;
			 User ID=praktikant;Password=praktikant;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>